@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #10141E;
  font-family: "Outfit", sans-serif;
}
.slide-track {
  animation: scroll 60s linear 1s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-375%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-track:hover {
  animation-play-state: paused;
}

.hoverdiv {
  opacity: 0;
  transition: all 0.3s linear;
}

.caruseldiv:hover .hoverdiv {
  opacity: 1;
}


.svgDiv:hover .path{
  stroke: black;
}

@media (min-width: 768px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-80%);
    }
    100% {
      transform: translateX(0);
    }
  }


}

@media (min-width: 768px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-70%);
    }
    100% {
      transform: translateX(0);
    }
  }
}